# Loading The Required Librariries

Using these libraries as:

- tweepy for reading tweets
- pandas for stroring data
- jsonlines for jsonl parsing

In [1]:
import tweepy
import pandas as pd
import jsonlines

# Initialising The Credentials

Defining the credentials used for extracting the tweets

In [2]:
Consumer_Key = "VQj7v8cluOnLy80MGdiciSaVk" 
Consumer_Key_Secret = "8xCtBM0deHXSE35q9ff0zn1V70iPwpnbLbeRkilFXgk1LMFPqE"
Access_Key = "1083747517475491840-KWhc1XdRu9ZTU8F90JRvJoCOeKNga5"
Access_Key_Secret = "TE1l9SR7Mck72evbCvabiXrtd27eE3DjV7w9uStGlTBY5"

# Function to Extract Tweets

In [3]:
def get_tweets(username): 
    
    
        #Authentication Using the Credentials 
        auth = tweepy.OAuthHandler(Consumer_Key, Consumer_Key_Secret) 
        auth.set_access_token(Access_Key, Access_Key_Secret) 
        api = tweepy.API(auth) 
        
        #Selecting the 200 tweets (Limit)
        tweets = api.user_timeline(username,count=200)
        
        #Initialising the Empty List 
        twts=[]  
        
        #Appending all the tweets in the twts list
        for j in tweets: 
            twts.append(j._json)  
            
        #Dumping the data into the JSONL file
        with jsonlines.open('MIDAS_Tweets.jsonl', 'w') as twt:
            twt.write(twts)

# Parsing the Data

In [4]:
def parse_tweets(path):
    
    #Initialising the list
    twts = None
    
    #Copying the data from jsonl to the list
    with jsonlines.open(path, 'r') as t:
        twts = t.read()
        
    #Creating the dataframe's structure
    Data = [[twt['text'], twt['created_at'], twt['favorite_count'], twt['retweet_count']] for twt in twts]
    Col = ['Text', 'Created At', 'Number of Likes', 'Number of Retweets']
    
    #Creating the Dataframe
    datfram = pd.DataFrame(data = Data, columns = Col)
    
    #Checking for the Occurences of Images
    datfram['Number of Images'] = [len([img for img in twt['extended_entities']['media'] if img['type'] == 'photo'])
                        if 'extended_entities' in twt else None for twt in twts]
    
    return datfram

# Driver Code

In [6]:
#Getting the Tweets and storing them in jsonl file
get_tweets("midasIIItd")  

#Geeting the data from jsonl file and storing them in csv file
parse_tweets('MIDAS_Tweets.jsonl').to_csv('MIDAS_Tweets.csv', header=True, index=False, encoding = 'utf-8')

# Displaying the Data

In [7]:
midas_df = pd.read_csv('MIDAS_Tweets.csv')
midas_df.head(10)

,Text,Created At,Number of Likes,Number of Retweets,Number of Images
0,"Many Congratulations to @midasIIITD student, S...",Mon Apr 08 07:08:12 +0000 2019,13,2,NaN
1,@midasIIITD thanks all students who have appea...,Mon Apr 08 03:27:42 +0000 2019,3,0,NaN
2,"@himanchalchandr Meanwhile, complete CV/NLP ta...",Sun Apr 07 14:17:29 +0000 2019,0,0,NaN
3,@sayangdipto123 Submit as per the guideline ag...,Sun Apr 07 14:17:09 +0000 2019,0,0,NaN
4,We request all students whose interview are sc...,Sun Apr 07 11:43:24 +0000 2019,1,1,NaN
5,"Other queries: ""none of the Tweeter Apis give ...",Sun Apr 07 06:55:19 +0000 2019,5,2,NaN
6,"Other queries: ""do we have to make two differe...",Sun Apr 07 06:53:38 +0000 2019,4,1,NaN
7,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 05:32:27 +0000 2019,6,1,NaN
8,Response to some queries asked by students on ...,Sun Apr 07 05:29:40 +0000 2019,7,1,NaN
9,RT @kdnuggets: Top 8 #Free Must-Read #Books on...,Sat Apr 06 17:11:29 +0000 2019,0,2,NaN